<!-- Partial component to display footer -->
<footer class="footer bg-neutral text-neutral-content items-center p-2">
  <div class="site-identity">
    <p>
      <a href="#">&#169; <%= new Date().getFullYear() %></a> All Right Reserved
    </p>
  </div>
</footer>
