<!-- Login page -->
<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
  <!-- Include the header partial component -->
  <%- include("./partials/header.ejs") %>

  <body>
    <% if (messages.error) { %>
    <div class="alert alert-error">
      <p><%= messages.error %></p>
    </div>
    <% } %> <%- include("./partials/nav.ejs") %>

    <!-- Display login form -->
    <form action="/users/login" method="POST">
      <div class="flex w-full flex-col items-center py-24 sm:py-32">
        <div class="card rounded-box bg-neutral-100 p-12">
          <h2
            class="mb-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
          >
            Login
          </h2>

          <!-- Get user authenticated email login -->
          <label class="mt-6 input input-bordered flex items-center gap-2">
            Email
            <input type="text" class="grow" id="email" name="email" required />
          </label>

          <!-- Get user authenticated password login -->
          <label class="mt-6 input input-bordered flex items-center gap-2">
            Password
            <input
              type="password"
              name="password"
              id="password"
              class="grow"
              autocomplete="email"
            />
          </label>

          <!-- Submit login form -->
          <div class="mt-10 flex gap-4">
            <button type="submit" class="btn btn-primary">Login</button>
            <button
              type="button"
              class="btn btn-neutral"
              onclick="window.history.back();"
            >
              Cancel
            </button>
          </div>

          <!-- Redirect to registration page if user needs to make account -->
          <div class="mt-6">
            <a href="/users/register" class="link link-accent"
              >Register for a new account</a
            >
          </div>
        </div>
      </div>
    </form>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
