<!-- Article create page -->
<!DOCTYPE html>
<html data-theme="cupcake" lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <form action="/blogs/create" method="POST">
    <div class="flex w-full flex-col items-center py-24 sm:py-32">
      <div class="card rounded-box bg-neutral-100 p-12 w-1/2">
        <h2 class="mb-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Create a new draft
        </h2>

        <!-- Input title of article -->
        <label class="mt-6 input input-bordered flex items-center gap-2">
          Title
          <input type="text" class="grow" name="post_title" id="post_title" placeholder="Title" required />
        </label>

        <!-- Input article content -->
        <textarea class="mt-6 w-full h-32 textarea textarea-bordered" name="post_body" id="post_body" required placeholder="write something ...."></textarea>

        <!-- Input article genre tag -->
        <label class="mt-6 input input-bordered flex items-center gap-2">
          Tag
          <input type="text" class="grow" name="post_tag" id="post_tag" placeholder="A single word to describe this post" />
        </label>

        <!-- Subimt button -->
        <div class="mt-10 flex gap-4">
          <button type="submit" class="btn btn-accent">Save Draft</button>
          <button type="button" class="btn btn-neutral" onclick="window.history.back();">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </form>
  <%- include("./partials/footer.ejs") %>
</body>

</html>